@using Newtonsoft.Json
@model dynamicHotelRate
@{
    var client = new HttpClient();
    ViewData["Title"] = "IndexRoom";
    var adults = myVar.numberAdults;
    var dateFrom = myVar.TempBooking.DateFrom;
    var dateTo = myVar.TempBooking.DateTo;
    GrotHotel.myVar.Index = 0;
}
<style>
    .p-1 {
        max-width: calc(20.33% - 10px);
        position: relative;
        padding: 5px 10px !important;
    }
</style>

<div class="m-3">
    <h4 class="text-center  bg-light">
        <small>@Model.Hotel.HotelRooms.Count() rooms available on </small>
        @Model.Hotel.HotelName
    </h4>

    @foreach (var item in Model.Hotel.HotelRooms)
    {
        <div class="d-flex m-3 rounded bg-white p-3" style="width:80%">
            <div class="col p-3">
                <img src="~/Images/RoomImages/@item.RoomPicture" style="width:200px;" />
            </div>
            <div class="col m-2 p-2" style="flex-grow:3">
                <div class="row">
                    <div class="col" style="flex-basis: 60%;">
                        <h4 class="text-primary mt-1">@item.Title</h4>
                        <h5 class="mt-3">
                            Rate <small style="color:red;" class="TotalRate"></small>
                        </h5>
                        @{
                            var descriptions = myVar.DiscriptionFormat(item.Description);
                            var rowCount = (int)Math.Ceiling((double)descriptions.Count / 3);

                            for (int i = 0; i < rowCount; i++)
                            {
                                <div class="row pt-2 d-block text-right">
                                    @for (int j = i * 3; j < Math.Min((i + 1) * 3, descriptions.Count); j++)
                                    {
                                            <small>@descriptions[j]</small>
                                    }
                                </div>
                            }
                        }
                        <hr />
                        <div class="priceContainerWrapper">
                            <div class="priceContainer">
                                @for (DateTime date = dateFrom; date <= dateTo; date = date.AddDays(1))
                                {
                                    var currentRoomRate =(dynamicRoomRate) Model.RoomRates.ElementAtOrDefault(myVar.Index);
                                    if (currentRoomRate != null  && currentRoomRate.DateFrom <= dateTo && currentRoomRate.DateTo >= dateFrom)
                                    {
                                        var datelist = await myVar.ListOfBlackOutDates(currentRoomRate.RoomRateId);

                                        var isBlackoutDate = datelist != null && datelist.BlackOutDates != null && datelist.BlackOutDates.Contains(date.ToString("yyyy-MM-dd"));

                                        <div class="p-1">
                                            <p style="margin:0px !important;">@date.ToString("dddd")</p>
                                            @if (isBlackoutDate)
                                            {
                                                <span>N/A</span>
                                            }

                                            else
                                            {
                                                if (currentRoomRate.DateTo > date)
                                                {
                                                    <span style="transform: rotate(1deg);">@currentRoomRate?.Rate</span>
                                                }
                                                else
                                                {
                                                    GrotHotel.myVar.Index++;
                                                    <span style="transform: rotate(1deg);">
                                                        @Model.RoomRates.ElementAtOrDefault(myVar.Index)?.Rate
                                                    </span>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" style="width:60px;height:100px;">Book</button>
                </div>
            </div>
        </div>
        GrotHotel.myVar.Index++;
    }
</div>

