@model IEnumerable<dynamicHotelRate>
<link rel="stylesheet" href="~/css/star.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Search";
    var adults = myVar.numberAdults;
    var child = myVar.numberChild;
    var dateFrom = myVar.TempBooking.DateFrom.ToString("ddd, MMM dd");
    var dateTo = myVar.TempBooking.DateTo.ToString("ddd, MMM dd");
}

<h5 class="text-center">@Model.Count() hotels on @dateFrom - @dateTo for @adults Adults
    @if (child != null && child!= 0 ) {
        <span>& @child children</span>
    }
</h5>

<div class="m-3">
    @foreach (var item in Model)
    {
        <div class="d-flex border m-3 rounded bg-white" style="width:80%">
            <div class="col p-3">
                <a asp-action="FilterRooms" asp-route-id="@item.Hotel.HotelId">
                    <img src="~/Images/HotelImages/@item.Hotel.HotelImage" style="width:200px;" />
                </a>
            </div>
            <div class="col m-4" style="flex-grow:3">
                <a asp-action="FilterRooms" asp-route-id="@item.Hotel.HotelId" class="homeFilter">
                    <h4>@item.Hotel.HotelName</h4>
                </a>
                <small>Address: @item.Hotel.Address</small>
                <h6>Rating :<i data-star="@item.Hotel.Rating"></i></h6>
                <h5>
                    Price <b>
                        <small style="color:red;">
                            @foreach (var room in item.RoomRates)
                            {
                                @myVar.NumberFormeting(room.Rate);
                                break;
                            }/-
                        </small>
                    </b>
                </h5><hr style="opacity:0.1;"/>
                @foreach(var discription in myVar.DiscriptionFormat(item.Hotel.Description))
                {
                    <h6>@discription</h6>
                }
            </div>
        </div>
    }
</div>