@model GrotHotelApi.Models.Hotel
@{
    ViewData["Title"] = "IndexRoom";
}

<div class="container">
        <p class="text-end">
            <a asp-action="CreateRoom" asp-controller="Hotel" class="btn btn-success" asp-route-id="@Model.HotelId">Add Room</a>
        </p>
    @if (@Model.HotelRooms.Count != 0)
    {

        <table class="table">
            <thead class="table-info">
                <tr>
                    <th style="width:30%">
                        @Html.DisplayName("Title")
                    </th>
                    <th style="width:10%">
                        @Html.DisplayName("Room")
                    </th>
                    <th style="width:40%">
                        @Html.DisplayName("Discription")
                    </th>
                    <th>
                        @Html.DisplayName("Room Rate")
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-light">
                @foreach (var item in Model.HotelRooms)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                           <img src="~/Images/RoomImages/@item.RoomPicture" width="35"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Room Rate", "IndexRoomRate", new { id = item.HotelRoomId })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditRoom", new { id=item.HotelRoomId })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteRoom", new { id=item.HotelRoomId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Not Available</h4>
    }
</div>
<div>
    <a asp-action="Index" class="btn btn-primary btn-sm">Back to Hotels</a>
</div>